body {
	background-color: rgb(20, 24, 72);
	text-align: center;
	color: rgb(178, 39, 39);
	font-family: Arial, Helvetica, sans-serif;
}

table {
	margin: 50px auto;
	border: 1px solid lightgray;
}

.cell {
	width: 40px;
	height: 40px;
	font-size: 1.5em;
}

.gameOver {
	display: none;
	justify-content: center;

}

.gameOver button {
	padding: 6px 24px;
	font-size: x-large;
	border-radius: 8px;
	border: none;
	box-shadow: #6b1515 3px 2px 2px;
	background-color: #e33535;
}